# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Node
node_modules/

# Entorno
.env

# Logs
logs/
*.log

# Tests / cobertura
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
.DS_Store

# Docker
*.env.docker
